ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.dragArea {
  opacity: 0.2;
  background: white;
  position: absolute;
  width: 1330px;
  height: 760px;
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
}

.box {
  /* border: 1px solid tomato; */
  background: tomato;
  border-radius: 16px;
  width: 150px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

/* ***************************************************************************** */

.container {
  font-family: sans-serif;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  align-items: center;
  border: 1px solid;
}

.item {
  border-radius: 1.5rem;
  background-color: navy;
  color: white;

  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 50%;
  left: 50%;
}

.box2 {
  border: 1px solid;
  width: 150px;
  height: 50px;
  border: 1px solid tomato;
  position: absolute;
  border-radius: 16px;
  cursor: pointer;
}

.opened {
  width: min(40rem, 95%);
  height: calc(100% - 10rem);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid red;
  z-index: 10;
  background-color: #fff;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 0.7);
}
