ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.dragArea {
  opacity: 0.2;
  background: white;
  position: absolute;
  width: 1330px;
  height: 760px;
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
}

.box {
  /* border: 1px solid tomato; */
  background: tomato;
  border-radius: 16px;
  width: 150px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}
