.container {
  border: 1px solid;
  width: 980px;
  padding: 0 20px;
}

.plusButton {
  background-size: cover;
  width: 40px;
  position: relative;
  display: block;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  background: transparent;
  top: -21px;
  transition: transform 0.3s;
  margin-bottom: -40px;
}

.plusButton:hover {
  opacity: 0.6;
}

.plusButton:active {
  transform: rotate(1turn);
}
